
.kitty-1{
  position: absolute;
  z-index: 1;
  top: 260px;
  right: 650px;
}

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 250px;
  right: 570px;
}

#basket img {
  position: absolute;
  z-index: 5;
  top: 290px;
  right: 485px;
}

#ball + img {
  position: absolute;
  z-index: 4;
  top: 233px;
  right: 470px;
}

img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  right: 230px;
}